<!DOCTYPE html>

<header class="hContainer">
  <a href="http://localhost:1234/">
    <img src="assets/icons/rooksLogo.png" alt="logo">
  </a>
  <a href="http://localhost:1234/videos/all" class="btn">All Videos</a>
  <a href="http://localhost:1234/videos/new" class="btn">New Videos</a>
  <a href="http://localhost:1234/videos/top" class="btn">Top Videos</a>
  <a href="http://localhost:1234/videos/watch-later" class="btn">Watch Later</a>
  <a href="http://localhost:1234/videos/search-advanced" class="btn">Advanced Search</a>
  <a href="http://localhost:1234/insights" class="btn">Insights</a>
</header>