<!DOCTYPE html>
<html lang="en">

<head>
<title>Rooks - <%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Baseline page template">

<link rel="icon" href="assets/icons/rooksIcon.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

	/**/

</style>

</head>

<body>

<%- include("partials/header") %>

<main>
	<img src="assets/icons/phrogLogo.png" alt="phrog" style="height:40vh;margin-top:20vh;margin-bottom:5vh;">
	<p style="font-size:16px;font-style:italic;color:#888888;">"The RKS project"</p>
</main>

<script src="main.js"></script>

<script>
	$(document).ready(function() {
		// 
	})
</script>

</body>

</html>